doctype html
html
  head
    title University of Louisiana at Monroe - Advising Assistant
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/fullcalendar.css')
    link(href='/css/rewrite.css', rel='stylesheet')
    block head
    
    script(src='/js/moment.js' type='application/javascript')
    script(src='/js/jquery.js' type='application/javascript')
    script(src='/js/foundation.min.js' type='application/javascript')
    script(src='/js/jquery.blockUI.js' type='application/javascript')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js' type='application/javascript')
    script(src='/js/underscore-min.js' type='application/javascript')

    script(type='application/javascript').
      $(document).ready(function() {
        // Get list of roles and bind events
        $.get({ url: '/api/me/roles' }).done(function(data) {
          if(data.success) {
            var $roleDropdownEl = $('#roleDropdown');
            $.each(data.roles, function(i, ele) {
              $roleDropdownEl.append('<option value="' + ele.id + '">' + ele.role + '</option>')
            });
            
            // Set initial value of dropdown
            var role_id = '#{role_id}';
            $roleDropdownEl.val('#{role_id}')
            
            // On role drop down change
            $roleDropdownEl.on('change', function() {
              $.post({ 
                url: '/api/me/role', 
                data: {
                  role_id: $(this).val()
                }
              }).done(function(data) {
                if(data.success) {
                  location.reload();
                }
              });
            });
          }
        });
      });
    
    block scripts
    
  body
    .topbar
    .sidebar
      .logo
        img(src='http://k-104.com/wp-content/uploads/2015/08/Louisiana-Monroe-sportsbook.pics_.gif')
      if isAuthenticated
        hr
        ul
          li
            select#roleDropdown
      hr
      ul
        if isAuthenticated
          li 
            a(href='/dashboard') #{user}
          block nav-items
          li 
            a(href='/users/logout') Logout
        else
          li 
            a(href='/users/login') Login
          li 
            a(href='/users/register') Register
          block nav-items          
      hr
    .content-wrapper
      block content
  //
    input(id='userCWID', type='hidden', value='#{cwid}')
    if isAuthenticated
      .top-bar-button.top-bar-select
        select#roleDropdown
      .top-bar-button.top-bar-button-two Hi, #{user}
      a.top-bar-button.top-bar-button-one(href='/users/logout') Logout
    else
      a.top-bar-button.top-bar-button-three(href='/users/login') Login
      a.top-bar-button.top-bar-button-one(href='/users/register' style='padding-left:15px;') Register
    .row.full-width
      .columns.small-12.header
        img(src='/img/Logo20.png')
